<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Microsoft.Extensions.DependencyInjection" version="8.2.7" targetFramework="net462" />
  <package id="SC.Microsoft.Extensions.DependencyInjection.Abstractions" version="8.2.7" targetFramework="net462" />
  <package id="SC.Sitecore.Kernel" version="8.2.7" targetFramework="net452" />
  <package id="SC.System.Web.Mvc" version="8.2.7" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Feature.Json" version="1.7.1" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Foundation.Abstractions" version="1.7.1" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Foundation.Common" version="1.7.1" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Foundation.IoC" version="1.7.1" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Foundation.JsonVariants" version="1.7.1" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Foundation.Mvc" version="1.7.1" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Foundation.Search" version="1.7.1" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Foundation.SitecoreExtensions" version="1.7.1" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Foundation.Variants.Abstractions" version="1.7.1" targetFramework="net452" />
</packages>